.navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
#map {
    height: 400px;
    width: 100%;
   }
footer {
    background-color: #555;
    color: white;
    padding: 15px;
  }
.form-group .input-group.widthLogin{
  width: 100%;
}
.col-md-3.buttonAllign{
  padding-left: 0;
}
.col-md-6.margin-order-succes{
  margin-top: 70px;
}
